[Desktop Entry]
Encoding=UTF-8
Name=Polishcoin
Comment=Polishcoin P2P Cryptocurrency
Comment[fr]=Polishcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Polishcoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/polishcoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/polishcoin128.png
MimeType=x-scheme-handler/polishcoin;
Categories=Office;
