<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
        <string>1.5.0</string>
	<key>CFBundleVersion</key>
        <string>1.5</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIconFile</key>
	<string>Polishcoin.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>NSHumanReadableCopyright</key>
	<string>© Polishcoin</string>
	<key>CFBundleSignature</key>
	<string>DOGE</string>
	<key>CFBundleExecutable</key>
	<string>Polishcoin-Qt</string>
	<key>CFBundleIdentifier</key>
	<string>com.polishcoin.wallet-qt</string>
	<key>CFBundleName</key>
	<string>Polishcoin-Qt</string>
</dict>
</plist>
